<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coaching Academy</title>
    style
        include ../static/style.css
</head>

<body>
    <nav id="navbar">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </nav>
    <div class="container">
        <section id="intro" class="section">
        
        </section>
        <section id="work" class="section">
            <!-- | Welcome to Coaching Academy
            | Learn. Grow. Aspire -->
            <div>  Welcome to Coaching Academy</div>
            <div class="small">  Learn. Grow. Aspire</div>
        </section>
        <section id="achieve" class="section">
            |Unacademy started off as a YouTube channel created by Gaurav Munjal in 2010 when he was an engineering student in Mumbai. Gaurav uploaded a short video tutorial on computer graphics on his YouTube channel to help his peers prepare for the semester exams. In December 2015, Gaurav Munjal roped in two of his friends, Hemesh Singh and Roman Saini, and launched Unacademy app to create free interactive content.<br>
            |By 2017, it had over 1 million learners, 5000 plus registered educators and over 40,000 classes launched. On January 2022, Unacademy became one of the founding members of IAMAI's India EdTech Consortium along with other edtech firms like Simplilearn, UpGrad, Byjus and Vedantu.
        </section>
    </div>
    script
        include ../static/index.js 
</body>

</html>